* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Josefin", sans-serif;
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.landing {
  min-height: 100vh;
  background: url("./hero.jpg");
  background-position: center;
  background-size: cover;
  padding: 0rem, 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding: 0% 5%;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
}

#logo {
  font-family: "Josefin", cursive;
  font-weight: lighter;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  font-family: Helvetica, sans-serif;
  color: blue;
  font-size: 3rem;
}

.slider {
  background: #102033;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
